# Library utama untuk aplikasi Streamlit
streamlit==1.25.0

# Library untuk machine learning dan model
tensorflow==2.18.0

# Library untuk data preprocessing
pandas==1.5.3
numpy==1.26.4
scikit-learn==1.3.0

# Library untuk visualisasi
matplotlib==3.7.2
seaborn==0.12.2

# Library untuk validasi dan pengolahan URL
validators==0.34.0
requests==2.32.3
